[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
crc = "*"
webargs = "*"
pony = "*"
PyYAML = "*"
nanoid = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[scripts]
server = "uvicorn main:app --reload"

[requires]
python_version = "3.8"
